<div class="page-header">
	<h1><%=@forum.title%><br>
	<small>Submitted by <%=@forum.user.email%> </small></h1>
	<h3>Question:<%=@forum.question%></h3>
</div>

<div class="btn-group">
	<%= link_to 'Back', forums_path, class: "btn btn-default" %>
	<% if @forum.user == current_user%>
	<%= link_to 'Edit', edit_forum_path(@forum), class:  "btn btn-default" %>
	<%= link_to 'Destroy', @forum, method: :delete, data:{confirm:'Are you sure?'}, class:"btn btn-default" %>
</div>
<%end%>
<!--UPVOTE & DOWNVOTE-->
<div class="btn-group pull-right">
	<%=link_to like_forum_path(@forum), method: :put, class: "btn btn-default btn-sn" do %>
	<span class="glyphicon glyphicon-chevron-up"></span>
	Upvote
	<%=@forum.get_upvotes.size%>
	<%end%>
	<%=link_to dislike_forum_path(@forum), method: :put, class: "btn btn-default btn-sn" do %>
	<span class="glyphicon glyphicon-chevron-down"></span>
	Downvote
	<%=@forum.get_downvotes.size%>
	<%end%>
</div>

<h2><%=@forum.comments.count%> Comments</h2>

<%= render "comments/comments" %>
<%= render "comments/form" %>