<%= form_with(model: review, local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :review_title %>
  </div>

  <div class="field">
    <%= form.label :introduction %>
    <%= form.text_field :introduction, id: :review_introduction %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :review_content %>
  </div>

  <div class="field">
    <%= form.label :platform %>
    <%= form.text_field :platform, id: :review_platform %>
  </div>

  <div class="field">
    <%= form.label :rating_category %>
    <%= form.number_field :rating_category, id: :review_rating_category %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
