<div class="page-header" style="color: white">
  <h1 style="color: #F05F40"><%=@review.title%></h1>
  <h2><%= @review.introduction%></h2>
  <p><%= @review.content%><p>
  <p>Platform: <%= @review.platform%></p>
  <p>RATING: <%= @review.rating_category%></p>
  <small>Submitted by <%=@review.user.email%></small>
</div>
<div class="btn-group">
  <%= link_to 'Back', reviews_path, class: "btn btn-default" %>
  <% if @review.user == current_user%>
  <%= link_to 'Edit', edit_review_path(@review), class:  "btn btn-default" %>
  <%= link_to 'Destroy', @review, method: :delete, data:{confirm:'Are you sure?'}, class:"btn btn-default" %>
</div>
<%end%>