<!DOCTYPE html>
<html>
	<head>
		<title>GameBuddy</title>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>
	<body>
		<!--Added flash msg-->
		<% flash.each do |name,msg| %>
		<!--Added alert class based on what type of alert it is-->
		<%= content_tag(:div, msg, class:"alert alert-#{name}") %>
		<% end %>
		<%if user_signed_in?%>
		<%= link_to 'New Forum', new_forum_path %>
		<%= link_to 'Account', edit_user_registration_path %>
		<%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
		<%else%>
		<%= link_to 'Sign up', new_user_registration_path %>
		<%= link_to 'Sign in', new_user_session_path %>
		<%end%>
		<%= yield %>
	</body>
</html>